.container{
    display: flex;
    background-color: #2e2e2e;
    padding: 1rem;
    border-radius: 8px;
    min-height: 300px;
    border: 2px dashed #646cff;
}

.item{
    background-color: #646cff;
    color: white;
    padding: 1.5rem;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
    min-width: 80px;
    height: 10%;
    width: 10%;
}

.item:nth-child(2){
    background-color: red;
}

.direction-column {
    flex-direction: column;
    gap: 20px;
}